.status{
    cursor: pointer;
    background: #c8d6d9;
    color: #276678;
    border: 3px solid #c8d6d9;
    height: 44px;
    width: 44px;
    font-weight: 700;
    box-shadow: inset 0 0 0 5px #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.status:hover{
    border-color: #276678;
}
.activeStatus{
    background: #276678;
    color: #fff;
    border-color: #276678 ;
}
.connector{
    min-height: 2px;
    min-width: 100px;
    background-color:#276678  ;
}