.footer{
    display: flex;
    justify-content: end;
    flex: 0 0 auto;
    border-top: 1px solid #ddd;
    font-size: 14px;
    width: 100%;
    min-height: 80px;

    .btn{
        display: flex;
        align-items: center;
        background-color: #276678 !important;
        color: #ffffff !important;
        fill: #ffffff !important;
        border-radius: 999rem;
        letter-spacing: 0.6;
        font-size: 0.97143rem;
        font-weight: 700;
        padding: 10px 22px;
        margin-right: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        .btn_name{
            margin-left:5px;
        }
    }
}